@page "/addDealer"
@using SGRBlazorApp.Data
@using SGRBlazorApp.Interfaces
@using CuriousDriveRazorLibrary
@using Blazored.LocalStorage
@using System.Globalization
@using SGRBlazorApp.Shared
@inject ISgrService<Dealer> bookStoresService
@inject IUserService userService
@inject ILocalStorageService localStorageService
@inject ISgrService<Motor> motorService
@inject ISgrService<Pai> paisService
@inject ISgrService<Provincium> provinciaService
@inject ISgrService<MotorDealer> certificacionMotService
@inject IJSRuntime JSRuntime
@inject NavigationManager navigationManager
@implements IDisposable
@using System.Reactive.Linq;
@using System.Reactive.Subjects
@using SGRBlazorApp.Services
@inject GeocodingService GeocodingService
<div class="col-12">
    <h3><b>Agregar Nuevo Dealer</b></h3>
    <hr />

    <ServerValidations IsVisible="IsVisible" Result="Result">
        @RecordName
    </ServerValidations>

    <EditForm Model="@Dealer" OnValidSubmit="@SaveDealer">
        @*<DataAnnotationsValidator />*@

        <div class="col-12 row">
            <label class="col-4 font-weight-bold">Nombre :</label>
            <input class="form-control col-3" @bind="Dealer.Name" placeholder="Nombre" required />
            &nbsp;<ValidationMessage For="@(() => Dealer.Name)" />
        </div>
        <br />
        <div class="col-12 row">
            <label class="col-4 font-weight-bold">Codigo Dealer :</label>
            <InputText class="form-control col-3" @bind-Value="Dealer.LocationCode" placeholder="Codigo Dealer" required />
            &nbsp;<ValidationMessage For="@(() => Dealer.LocationCode)" />
        </div>
        <br />
        <div class="col-12 row">
            <label class="col-4 font-weight-bold">Codigo Distribuidor :</label>
            <InputText class="form-control col-3" @bind-Value="Dealer.DistributorCode" placeholder="Codigo Distribuidor" required />
            &nbsp;<ValidationMessage For="@(() => Dealer.DistributorCode)" />
        </div>
        <br />
        <div class="col-12 row">
            <label class="col-4 font-weight-bold">Pais :</label>
            <select class="form-control col-3" @onchange="OnChangeEvent" name="PaisId" id="PaisId" required>
                <option value="">Seleccione Pais...</option>
                @if (PaisList != null)
                {
                    foreach (var item in PaisList.OrderBy(o => o.Nombre))
                    {
                        <option value="@item.Id">@item.Nombre</option>
                    }
                }
            </select>
            &nbsp;<ValidationMessage For="@(() => Dealer.Country)" />
        </div>
        <br />
        <div class="col-12 row">
            <label class="col-4 font-weight-bold">Provincia/Estado :</label>
            <select class="form-control col-3" @onchange="OnChangeEvent2" name="ProvinciaId" id="ProvinciaId" required>
                <option value="">Seleccione Provincia...</option>
                @if (ProvinciasList != null)
                {
                    foreach (var item in ProvinciasList.OrderBy(o => o.Nombre))
                    {
                        <option value="@item.Id">@item.Nombre</option>
                    }
                }
            </select>
            &nbsp;<ValidationMessage For="@(() => Dealer.State)" />
        </div>
        <br />
        <div class="col-12 row">
            <label class="col-4 font-weight-bold">Ciudad :</label>
            <InputText class="form-control col-3" @bind-Value="Dealer.City" placeholder="Ciudad" required />
            &nbsp;<ValidationMessage For="@(() => Dealer.City)" />
        </div>
        <br />
        <div class="col-12 row">
            <label class="col-4 font-weight-bold">Telefono :</label>
            <InputText class="form-control col-3" @bind-Value="Dealer.Phone" placeholder="Telefono" required />
            &nbsp;<ValidationMessage For="@(() => Dealer.Phone)" />
        </div>
        <br />
        <div class="col-12 row">
            <label class="col-4 font-weight-bold">Codigo Postal :</label>
            <InputText class="form-control col-3" @bind-Value="Dealer.Zip" placeholder="Codigo Postal" required />
            &nbsp;<ValidationMessage For="@(() => Dealer.Zip)" />
        </div>
        <br />
        <div class="col-12 row">
            <label class="col-4 font-weight-bold">Email :</label>
            <input type="email" class="form-control  col-3" placeholder="Email" @bind="Dealer.Email" name="Email" autocomplete="off" required />
            &nbsp;<ValidationMessage For="@(() => Dealer.Email)" />
        </div>
        <br />
        <div class="col-12 row">
            <label class="col-4 font-weight-bold">Pagina Web :</label>
            <InputText class="form-control col-3" @bind-Value="Dealer.Website" placeholder="Pagina Web" />
            &nbsp;<ValidationMessage For="@(() => Dealer.Website)" />
        </div>
        <br />
        <div class="col-12 row">
            <label class="col-4 font-weight-bold">Motores :</label>
            <RadzenListBox AllowFiltering="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" @bind-Value=@multipleValues Multiple="true" Data=@CertificacionList
                           TextProperty="Codigo" ValueProperty="Codigo" Change=@(args => OnChange(args, "ListBox with multiple selection")) Style="height:300px;width:100%" />
        </div>
        <br />
        <div class="col-12 row">
            <AutocompleteBing></AutocompleteBing>
        </div>
        <!--<div class="col-12 row">
            <label class="col-4 font-weight-bold">Direccion :</label>
            &nbsp;<ValidationMessage For=" />
            <Radzen.Blazor.RadzenTextBox -Value="" Placeholder="Address:" Name="Address" style="width: 25%" ="onTextChanged" required></Radzen.Blazor.RadzenTextBox>
            <InputNumber class="form-control col-3" -Value="Dealer.LatitudGps" Style="visibility:hidden" Name="LatitudGps" placeholder="State" />
            <InputNumber class="form-control col-3" -Value="Dealer.LongitudGps" Style="visibility:hidden" Name="LongitudGps" placeholder="State" />
            <br />
            if (IsLoading)
            {
                <Radzen.Blazor.RadzenProgressBar Value="100" ShowValue="false" Mode="ProgressBarMode.Indeterminate" Style="margin: 100%"></Radzen.Blazor.RadzenProgressBar>
            }

            if (Results.Length > 0)
            {
                <Radzen.Blazor.RadzenGrid Data="Results" RowSelect="" TItem="GeocodingResult">
                    <Columns>
                        <Radzen.Blazor.RadzenGridColumn Width="200px" TItem="GeocodingResult" Property="FormattedAddress" Title="Address">
                            <FooterTemplate>
                                Total Results: <b></b>
                            </FooterTemplate>
                        </Radzen.Blazor.RadzenGridColumn>
                    </Columns>
                </Radzen.Blazor.RadzenGrid>
            }
        </div>
        <div class="col-12 row">

            if (showMap)
            {
                <br />


                <MapaComponent Latitud="" Longitud="" zoom="zoom" posiciones="posiciones"></MapaComponent>-->
        @*<Radzen.Blazor.RadzenGoogleMap Zoom="@zoom"
                                               style="height:400px;width:50%"
                                               ApiKey="AIzaSyAPHRhaDoTeYi6g6Osx6d6ksw7v0I_fWyE"
                                               Center="@(posMap)"
                                               MapClick="@MapClick">
                    <Markers>
                        if (pos != null)
                        {
                            <Radzen.Blazor.RadzenGoogleMapMarker Title="@Address" Label="@Address" Position="@(pos)" />
                        }
                    </Markers>
                </Radzen.Blazor.RadzenGoogleMap>
            <Radzen.Blazor.RadzenGoogleMap Zoom="@zoom"
                                                                                 style="height:400px;width:50%"
                                                                                 ApiKey="AIzaSyAPHRhaDoTeYi6g6Osx6d6ksw7v0I_fWyE"
                                                                                 Center="@(posMap)"
                                                                                 MapClick="@MapClick">
                <Markers>
                    <Radzen.Blazor.RadzenGoogleMapMarker Title="@Address" Label="@Address" Position="@(pos)" />
                </Markers>
            </Radzen.Blazor.RadzenGoogleMap>*@
        <!--}
        </div>-->
        <br />
        <div class="col-12 row">
            <span class="col-2"></span>
            <input type="submit" class="btn btn-success" value="Guardar" />
            <span>&nbsp;</span>
            <a style="background-color:red;color:white" class="btn btn-success" href="/dealers">Cancelar</a>
        </div>
    </EditForm>
</div>
<br />


@code
{ public Dealer Dealer { get; set; }
    public bool IsVisible { get; set; }
    public bool Result { get; set; }
    public string RecordName { get; set; }
    public List<Dealer> DealerList { get; set; }
    public List<Pai> PaisList { get; set; }
    public List<Provincium> ProvinciumList { get; set; }
    public List<Provincium> ProvinciasList { get; set; }
    IEnumerable<string> multipleValues = new string[] { };
    string certs = "";
    Subject<string> addressSubject = new Subject<string>();
    public List<Motor> CertificacionList { get; set; }

    protected override void OnInitialized()
    {
        Console.WriteLine("Dealers - OnInitialized");
        base.OnInitialized();
    }

    void OnChange(object value, string name)
    {
        var str = value is IEnumerable<object> ? string.Join(",", (IEnumerable<object>)value) : value;
        certs = (string)str;
    }

    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; }
    ClaimsPrincipal user;

    bool IsUserAuthenticated;
    bool IsPublisher;
    bool IsSeniorEmployee;

    public int Count { get; set; } = 400;

    private SGRBlazorApp.Data.User users;

    protected override async Task OnInitializedAsync()
    {
        user = (await authenticationStateTask).User;

        if (!user.Identity.IsAuthenticated)
        {
            navigationManager.NavigateTo("/");
        }
        Console.WriteLine("Dealers - OnInitializedAsync");

        Dealer = new Dealer();

        await base.OnInitializedAsync();

        CertificacionList = await motorService.GetAllAsync("Motor/GetMotor");
        PaisList = await paisService.GetAllAsync("Pais/GetPais");
        ProvinciumList = await provinciaService.GetAllAsync("Provincia/GetProvincia");
        ProvinciasList = new List<Provincium>();
        DealerList = await bookStoresService.GetAllAsync("Dealer/GetDealer");
        addressSubject
        .Throttle(TimeSpan.FromMilliseconds(300))
    .DistinctUntilChanged()
    .Subscribe(OnAddressChanged);
    }

    public void Dispose()
    {
        Console.WriteLine("Dealers - Dispose");
    }

    private void OnChangeEvent(ChangeEventArgs changeEventArgs)
    {
        if (!String.IsNullOrEmpty((string)changeEventArgs.Value) && (string)changeEventArgs.Value != "Seleccione Pais...")
        {
            Guid idPais = Guid.Parse((string)changeEventArgs.Value);
            Dealer.PaisId = idPais;
            ProvinciasList = ProvinciumList.Where(o => o.PaisId == idPais).ToList();
        }
        else
        {
            ProvinciasList = new List<Provincium>();
        }
    }

    private void OnChangeEvent2(ChangeEventArgs changeEventArgs)
    {
        if (!String.IsNullOrEmpty((string)changeEventArgs.Value) && (string)changeEventArgs.Value != "Seleccione Provincia...")
        {
            Guid IdProvncia = Guid.Parse((string)changeEventArgs.Value);
            Dealer.ProvinciaId = IdProvncia;
        }
        //else
        //{
        //      Incidencia.IdDealer = null;
        //}
    }

    private async Task SaveDealer()
    {
        try
        {
            //if (DealerList.Any(o => o.Name == Dealer.Name))
            //{
            //    await JSRuntime.MostrarMensaje("Atencion!", "El nombre ingresado ya se encuentra registrado!", TipoMensajeSweetAlert.warning);
            //}
            //else
            if (DealerList.Any(o => o.LocationCode == Dealer.LocationCode))
            {
                await JSRuntime.MostrarMensaje("Atencion!", "El Codigo ingresado ya se encuentra registrado!", TipoMensajeSweetAlert.warning);
            }
            else
            {
                string lat = await JSRuntime.InvokeAsync<string>("getValue", "Lat");
                string longi = await JSRuntime.InvokeAsync<string>("getValue", "Long");
                string dire = await JSRuntime.InvokeAsync<string>("getValue", "Dir");
                Dealer.Address = dire;
                NumberFormatInfo formatProvider = new NumberFormatInfo();
                formatProvider.NumberDecimalSeparator = ".";
                formatProvider.NumberGroupSeparator = ",";
                formatProvider.NumberGroupSizes = new int[] { 2 };
                if (String.IsNullOrEmpty(lat) && String.IsNullOrEmpty(longi))
                {
                    await JSRuntime.MostrarMensaje("Atencion!", "El campo Direccion es Obligatorio!", TipoMensajeSweetAlert.warning);

                }
                else
                {
                    Dealer.LatitudGps = Convert.ToDouble(lat, formatProvider);
                    Dealer.LongitudGps = Convert.ToDouble(longi, formatProvider);
                    var deal = await bookStoresService.SaveAsync("Dealer/CreateDealer", Dealer);

                    Result = true;
                    IsVisible = true;

                    var firstName = Dealer.LocationCode;
                    var lastName = Dealer.Name;

                    RecordName = firstName + " " + lastName;

                    if (!String.IsNullOrEmpty(certs))
                    {
                        var datos = certs.Split(',');
                        foreach (var item in datos)
                        {
                            if (!String.IsNullOrEmpty(item))
                            {
                                Guid IdCer = CertificacionList.FirstOrDefault(o => o.Codigo == item).Id;
                                MotorDealer cert = new MotorDealer();
                                cert.Id = Guid.NewGuid();
                                cert.Created = DateTime.Now;
                                cert.DealerId = deal.Id;
                                cert.MotorId = IdCer;
                                await certificacionMotService.SaveAsync("MotorDealer/CreateMotorDealer", cert);
                            }
                        }
                    }

                    Dealer = new Dealer();

                    navigationManager.NavigateTo("/dealers");
                }
            }
        }
        catch (Exception ex)
        {
            await JSRuntime.MostrarMensaje("Error!", "Ocurrio un error actualizando, por favor intente nuevamente!", TipoMensajeSweetAlert.error);
            Logger.AddLine(String.Format("{0}-{1}-{2}", DateTime.Now.ToString(), ex.Message, ex.StackTrace));
        }
    }

    int zoom = 5;

    bool showMap;

    public GoogleMapPosition pos;

    public GoogleMapPosition posMap = new GoogleMapPosition() { Lat = -34.29403345819787, Lng = -64.03364269523182 };

    public double? latitud;

    public double? longitud;

    Dictionary<DateTime, string> events = new Dictionary<DateTime, string>();

    void MapClick(GoogleMapClickEventArgs args)
    {
        events.Add(DateTime.Now, $"Map clicked at Lat: {args.Position.Lat}, Lng: {args.Position.Lng}");
        StateHasChanged();
    }


    public string Address { get; set; }

    public string GeoLocation { get; set; }

    public bool IsLoading { get; set; }

    private GeocodingResult[] Results { get; set; } = new GeocodingResult[0];

    void onTextChanged(ChangeEventArgs args)
    {
        addressSubject.OnNext(args.Value.ToString());
    }


    private void OnRowSelect(GeocodingResult row)
    {
        Address = row.FormattedAddress;
        GeoLocation = $"Lat:{row.Geometry.Location.Lat}, Lng: {row.Geometry.Location.Lng}";
        Results = new GeocodingResult[0];
        pos = new GoogleMapPosition() { Lat = row.Geometry.Location.Lat, Lng = row.Geometry.Location.Lng };
        posMap = new GoogleMapPosition() { Lat = row.Geometry.Location.Lat, Lng = row.Geometry.Location.Lng };
        Dealer.LatitudGps = (long)row.Geometry.Location.Lat;
        Dealer.LongitudGps = (long)row.Geometry.Location.Lng;
        zoom = 16;
        showMap = true;
        StateHasChanged();
    }

    private async void OnAddressChanged(string address)
    {
        Address = address;
        IsLoading = true;
        GeoLocation = "";
        await InvokeAsync(() => StateHasChanged());

        var response = await GeocodingService.FindAsync(address);
        Results = response.Results;

        IsLoading = false;

        await InvokeAsync(() => StateHasChanged());
    } }

