@page "/add-dealer"
@inject IServiceBase<Dealer> dealerManager
@inject Microsoft.AspNetCore.Components.NavigationManager navigationManager

    <h2 style="text-align:center;color:#EF272C">
        Add Dealer
    </h2>

<div class="row">
    <div class="col-md-4">
        <form>
            <div class="form-group">
                <label for="Name" class="control-label">Name</label>
                <input for="Name" class="form-control" @bind="@article.Name" />
                <label for="Name" class="control-label">Location Code</label>
                <input for="Name" class="form-control" @bind="@article.LocationCode" />
                <label for="Name" class="control-label">Distributor Code</label>
                <input for="Name" class="form-control" @bind="@article.DistributorCode" />
                <label for="Name" class="control-label">Country</label>
                <input for="Name" class="form-control" @bind="@article.Country" />
                <label for="Name" class="control-label">State</label>
                <input for="Name" class="form-control" @bind="@article.State" />
                <label for="Name" class="control-label">City</label>
                <input for="Name" class="form-control" @bind="@article.City" />
                <label for="Name" class="control-label">Address</label>
                <input for="Name" class="form-control" @bind="@article.Address" />
                <label for="Name" class="control-label">Phone</label>
                <input for="Name" class="form-control" @bind="@article.Phone" />
                <label for="Name" class="control-label">Fax</label>
                <input for="Name" class="form-control" @bind="@article.Fax" />
                <label for="Name" class="control-label">Zip Code</label>
                <input for="Name" class="form-control" @bind="@article.Zip" />
                <label for="Name" class="control-label">Email</label>
                <input for="Name" class="form-control" @bind="@article.Email" />
                <label for="Name" class="control-label">Website</label>
                <input for="Name" class="form-control" @bind="@article.Website" />
                <label for="Name" class="control-label">Latitud</label>
                <input for="Name" class="form-control" @bind="@article.LatitudGps" />
                <label for="Name" class="control-label">Longitud</label>
                <input for="Name" class="form-control" @bind="@article.LongitudGps" />
            </div>
            <div class="form-group">
                <button type="button" class="btn btn-primary" @onclick="() => CreateArticle()">Save</button>
                <button type="button" class="btn btn-danger" @onclick="() => Cancel()">Cancel</button>
            </div>
        </form>
    </div>
</div>

@code {

    Dealer article = new Dealer();
    IList<Category> categories;

    public int? SelectedCategory { get; set; }

    protected override async Task OnInitializedAsync() //Init //Constructor de este component...
    {
        //categories = await categoryManager.ListAll();
        //SelectedCategory = categories.FirstOrDefault()?.IdCategory;
    }

    protected async Task CreateArticle()
    {

        Guid id = await dealerManager.InsertAsync(article);
        navigationManager.NavigateTo("/dealerlist");
    }

    void Cancel()
    {
        navigationManager.NavigateTo("/dealerlist");
    }
}