@page "/motor-incidencia"
@layout MainLayout
@inherits Sgi.Pages.MotorIncidenciaComponent

@using Radzen
@using Radzen.Blazor
@using Sgi.Models.SgiCore
<RadzenContent Container="main">
  <ChildContent>
    <RadzenHeading Size="H1" Text="Motor Incidencia">
    </RadzenHeading>
    <div class="row">
      <div class="col-md-12">
        <RadzenButton Icon="add_circle_outline" style="margin-bottom: 10px" Text="Add" Click="@Button0Click">
        </RadzenButton>
        <RadzenGrid @ref="grid0" AllowFiltering="true" AllowPaging="true" AllowSorting="true" Data="@getMotorIncidenciaResult" TItem="Sgi.Models.SgiCore.MotorIncidencium" RowSelect="@Grid0RowSelect">
          <Columns>
            <RadzenGridColumn TItem="Sgi.Models.SgiCore.MotorIncidencium" Property="Id" Title="Id">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="Sgi.Models.SgiCore.MotorIncidencium" Property="Created" FormatString="{0:dd/MM/yyyy}" Title="Created">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="Sgi.Models.SgiCore.MotorIncidencium" Property="Modified" FormatString="{0:dd/MM/yyyy}" Title="Modified">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="Sgi.Models.SgiCore.MotorIncidencium" Property="Deleted" FormatString="{0:dd/MM/yyyy}" Title="Deleted">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="Sgi.Models.SgiCore.MotorIncidencium" Property="FechaCompra" FormatString="{0:dd/MM/yyyy}" Title="Fecha Compra">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="Sgi.Models.SgiCore.MotorIncidencium" Property="FechaInicioGarantia" FormatString="{0:dd/MM/yyyy}" Title="Fecha Inicio Garantia">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="Sgi.Models.SgiCore.MotorIncidencium" Property="FechaFalla" FormatString="{0:dd/MM/yyyy}" Title="Fecha Falla">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="Sgi.Models.SgiCore.MotorIncidencium" Property="MotorId" SortProperty="Motor.NumeroMotor" FilterProperty="Motor.NumeroMotor" Title="Motor">
              <Template Context="data">
              @(data.Motor?.NumeroMotor)
              </Template>
            </RadzenGridColumn>
            <RadzenGridColumn TItem="Sgi.Models.SgiCore.MotorIncidencium" Property="IncidenciaId" SortProperty="Incidencia.ConfiguracionCorta" FilterProperty="Incidencia.ConfiguracionCorta" Title="Incidencia">
              <Template Context="data">
              @(data.Incidencia?.ConfiguracionCorta)
              </Template>
            </RadzenGridColumn>
            <RadzenGridColumn TItem="Sgi.Models.SgiCore.MotorIncidencium" Filterable="false" Sortable="false" Width="70px" TextAlign="TextAlign.Center">
              <Template Context="sgiModelsSgiCoreMotorIncidencium">
                <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="close" Size="ButtonSize.Small" Click="@((args) =>GridDeleteButtonClick(args, sgiModelsSgiCoreMotorIncidencium))" @onclick:stopPropagation="true">
                </RadzenButton>
              </Template>
            </RadzenGridColumn>
          </Columns>
        </RadzenGrid>
      </div>
    </div>
  </ChildContent>
</RadzenContent>
